{% extends "account/base1.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="card-1">
  <form class="form" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="card-header card-header-primary text-center">
      <h4 class="card-title">Instructor Login</h4>
      <div class="social-line">
        <a href="/accounts/facebook/login/?process=login" class="btn btn-just-icon btn-link">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="/accounts/github/login/?process=login" class="btn btn-just-icon btn-link">
          <i class="fa fa-github"></i>
        </a>
        <a href="/accounts/google/login/?process=login" class="btn btn-just-icon btn-link">
          <i class="fa fa-google"></i>
        </a>
      </div>
    </div>
    <p class="description text-center">Or Be Classical</p>
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% for message in messages %}
    <div class="alert alert-success">
      <a class="close" href="#" data-dismiss="alert">×</a>
      {{ message }}
    </div>
    {% endfor %}
    <div class="card-body">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons">account_circle</i>
          </span>
        </div>
        {% render_field form.login class+="form-control" %}
      </div>
      <br>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons">lock_outline</i>
          </span>
        </div>
        {% render_field form.password class+="form-control" %}
      </div>
    </div>
    <div class="footer text-center">
      <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Submit</button>
    </div>
    <div class="footer text-center">
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <a class="button secondaryAction" href="{{ signup_url }}">{% trans "Sign up" %}</a>
    </div>
  </form>
</div>

{% endblock %}
