<div class="section over-hide z-bigger">
  <input class="checkbox" type="checkbox" name="general" id="general">
  <label class="for-checkbox" for="general"></label>
  <div class="background-color"></div>
  <div class="section over-hide z-bigger">
    <div class="countdown-bar" id="countdown">
      <div></div>
      <div></div>
    </div>
    <div class="container pb-5">
      <div class="row justify-content-center pb-5">
        <form action="{% url 'core:attempt' slug=quiz.slug id=record.id index=index %}" method="post" class="js-question-form">
          {% csrf_token %}
          <div class="col-12 pt-1">
            <p class="mb-4 pb-2">{{question.question}}</p>
          </div>
          <div class="col-xl-10 pb-5 ">
            {% for option in question.get_options %}
            <input class="checkbox-budget" type="radio" name={{question.id}} id="{{option.id}}" value="{{ option.option }}">
            <label class="for-checkbox-budget" for="{{option.id}}">
              <span data-hover="{{option.option}}">{{option.option}}</span>
            </label>
            {% endfor %}
          </div>
          {% if number < index %}
          <button class="btn btn-lg" type="submit" name="button" id="click">Submit</button>
          {% else %}
          <button class="btn btn-lg" type="submit" name="button" id="click">Next</button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
            $(document).ready(function () {
                countdown('countdown', 0, 0, 0, 10);
            });
</script>
<script type="text/javascript">
  /**
   * Config Settings
   *
   * @returns {array}
   */
  function config() {

      var $config = [];
      $config.loadingBars = '.countdown-bar';

      // Countdown Loading Bar
      $config.loadingBars_width = $(window).width();
      $config.loadingBars_height = 10;
      $config.loadingBars_border_color = '#1f2029';
      $config.loadingBars_color =  'red';
      $config.loadingBars_background_color =  '1f2029';

      // Countdown Timer
      $config.timer_color = '#e35146';
      $config.timer_font_weight = 700;
      $config.timer_font = 'Roboto Condensed';
      $config.timer_font_size = 12;
      $config.endtime_message = 'Timer expired!';

      return $config;
  }


  /**
   * Set countdown element
   *
   * Element should be build as
   * <div class="countdownbar" id="elementID">
   * <div></div>
   * <div></div>
   * </div>
   *
   * Then call the function countdown('elementID', 0, 0, 0, 10)
   *
   * @param {string} $element
   * @param {number} $daysAdd
   * @param {number} $hoursAdd
   * @param {number} $minutesAdd
   * @param {number} $secondsAdd
   */
  function countdown($element, $daysAdd, $hoursAdd, $minutesAdd, $secondsAdd) {

      $config = this.config();

      $($config.loadingBars).css('width', $config.loadingBars_width);
      $($config.loadingBars).css('height', $config.loadingBars_height);
      $($config.loadingBars).css('background-color', $config.loadingBars_background_color);
      $($config.loadingBars).css('border-color', $config.loadingBars_border_color);

      $dateNow = new Date();
      $hour = $dateNow.getHours();
      $minute = $dateNow.getMinutes();
      $second = $dateNow.getSeconds();
      $now_loader = new Date().getTime();

      var interval = setInterval(function() {

          $loadingBars_loader = $('#' + $element).children('div')[0];
          $loadingBars_timer = $('#' + $element).children('div')[1];

          $countDownDate = $dateNow.setDate($dateNow.getDate() + $daysAdd);
          $countDownDate = $dateNow.setHours($hour + $hoursAdd);
          $countDownDate = $dateNow.setMinutes($minute + $minutesAdd);
          $countDownDate = $dateNow.setSeconds($second + $secondsAdd + 1);

          $now = new Date().getTime();
          $distance = $countDownDate - $now;

          $distance_loader = $countDownDate - $now_loader;
          $distance_loadingBar_part =  (($config.loadingBars_width / ($distance_loader - 1000)) * 1000);
          $distance_loadingBar_part = Math.floor($distance_loadingBar_part * 10000) / 10000;

          $secondsPast = parseInt(($distance_loader - $distance) / 1000);

          $newDistance  = $distance_loadingBar_part * $secondsPast;
          if($newDistance > $config.loadingBars_width) $newDistance = $config.loadingBars_width;

          $($loadingBars_loader).animate({ width: $newDistance + 'px' }, 500);

          // TIMER
          $timerHtmlStart = '<span style="color: ' + $config.timer_color + '; font-weight: ' + $config.timer_font_weight + '; font-family: ' + $config.timer_font + '; font-size: ' + $config.timer_font_size + 'px;">';
          $timerHtmlEnd = '</span>';


          // set loading bar background-color as set in config
          $($loadingBars_loader).css('background-color', $config.loadingBars_color);
          $($loadingBars_timer).css('width', $config.loadingBars_width);
          $($loadingBars_timer).css('height', $config.loadingBars_height);

          // SET LOADING-BAR
          if($newDistance == $config.loadingBars_width) {
                  $($loadingBars_timer).html($timerHtmlStart + $config.endtime_message + $timerHtmlEnd);
                  clearInterval(interval);
                  return submitFunction();
          } else {

              $timeLeftFinal = setTimer($distance);

              $($loadingBars_timer).html($timerHtmlStart + $timeLeftFinal + $timerHtmlEnd);

          }
      }, 1000);
  }




  /**
   * Set the timer compared to what date it is and what time is set for it.
   *
   * @param {timstamp} $distance
   */
  function setTimer($distance) {
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor($distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor(($distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor(($distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor(($distance % (1000 * 60)) / 1000);

      if(hours < 10) {
          hours = "0" + hours;
      }

      if(minutes < 10) {
          minutes = "0" + minutes;
      }

      if(seconds < 10) {
          seconds = "0" + seconds;
      }

      var timeLeft = hours + ":" + minutes + ":" + seconds;

      if(days !== 0) {

          if(days === 1) {
              var timeLeftFinal = days + " day + " + timeLeft;
          } else {
              var timeLeftFinal = days + " days + " + timeLeft;
          }

      } else {
          var timeLeftFinal = timeLeft;
      }

      return timeLeftFinal;
  }

</script>
