{% extends 'base.html' %}
{% load static %}
{% load core_tags %}
{% load crispy_forms_tags %}
{% block content %}
<div class="">
  <h3>Quiz</h3>
  <h6>{{quiz.title}}</h6>
  <hr>
  <p>
    <button type="button" class="btn btn-primary js-create-question"  data-url="{% url 'core:create_question' quiz.slug %}">
      <i class="fa fa-plus" aria-hidden="true"></i>
      New Question
    </button>
  </p>
</div>
<div id='question-list'>
  <div>
    {% include "core/partial_question_list.html" %}
  </div>
</div>
<div class="modal fade" id="modal-question">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
</div>
{% endblock %}
{% block custom_js %}
<script src="{% static 'formset_bootstrap/js/jquery.formset.js' %}"></script>
<script src="{% static 'js/question.js' %}"></script>
<!-- ekkada question.js dhi file peduthey remove ani vasthundhi check chey once -->
<!-- write the above script in the question.js -->
{% endblock %}
