{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <h1>Quiz details</h1>
  <h6>{{ quiz.title }} <br>{{ quiz.id }}--{{ quiz.slug }}</h6>
  <div class="container">
    <form action="{% url 'core:attempt_quiz' slug=quiz.slug %}" method="post">
      {% csrf_token %}
      {% for question in questions %}
        {{question.question}} <br>
        <div class="container">
          {% for option in question.get_options %}
            <input type="radio" id="{{option.id}}"  name={{question.id}} value="{{ option.option }}" required>
            <label for="{{option.id}}">{{option.option}}</label><br>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" name="button">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
