{% extends 'articles/article_setting_base.html' %}
{% load static from static %}
{% block settings-content %}
<form method="post">
  {% csrf_token %}
  Are you sure you want to delete "{{ article }}" ?
  <button class="btn btn-outline-info" type="submit">delete</button>
</form>
<figure class="article">
  {% if article.image %}
  <div class="image"><img src="{{ article.image.url }}" alt="" /></div>
  {% endif %}
  <figcaption>
    <div class="date"><span class="day">{{ article.timestamp|date:"d" }}</span><span class="month">{{ article.timestamp|date:"F" }}</span></div>
    <!-- <h3><a class="article-title" href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h3> -->
    <h3>{{ article.title }}</h3>

    <p>
      I don't need to compromise my principles, they don't have the slightest be
      eed to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
    <button type="button" class="mr-1 badge badge-info ar" onclick="window.location.href='{% url 'articles:detail' slug=article.slug %}';">read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
    {% if article.tags.all %}
    <hr>
    <div class='card-tag'>
      {% for tag in article.tags.all %}
      <button type="button" class="mr-1 badge badge-info" onclick="window.location.href='{% url 'articles:tagged' tag.slug %}';"># {{ tag }}</button>
      {% endfor %}
    </div>
    {% endif %}
  </figcaption>
  <footer>
    <div class="views"><i class="ion-eye"></i>928</div>
    {% if article.likes.count %}
    <div class="love"><i class="ion-heart"></i>{{ article.likes.count }}</div>
    {% endif %}
    {% if comment_count %}
    <div class="comments"><i class="ion-chatboxes"></i>{{ comment_count }}</div>
    {% endif %}
  </footer>
</figure>
{% endblock %}
