{% extends 'articles/article_setting_base.html' %}
{% load comments %}
{% load hitcount_tags %}
{% block settings-content %}
<figure class="article">
  {% if article.image %}
  <div class="image"><img src="{{ article.image.url }}" alt="" /></div>
  {% endif %}
  <figcaption>
    <div class="date"><span class="day">{{ article.timestamp|date:"d" }}</span><span class="month">{{ article.timestamp|date:"F" }}</span></div>
    <!-- <h3><a class="article-title" href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h3> -->
    <h3>{{ article.title }}</h3>
    <p>
      {{article.digest|safe}}
    </p>
    <button type="button" class="mr-1 badge badge-info ar" onclick="window.location.href='{% url 'articles:detail' slug=article.slug %}';">read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
    {% if article.tags.all %}
    <hr>
    <div class='card-tag'>
      {% for tag in article.tags.all %}
      <button type="button" class="mr-1 badge badge-info" onclick="window.location.href='{% url 'articles:tagged' tag.slug %}';"># {{ tag }}</button>
      {% endfor %}
    </div>
    {% endif %}
  </figcaption>
  <footer>
    {% get_hit_count for article  as count %}
    {% if count != '0' %}
    <div class="views"><i class="ion-eye"></i>{% get_hit_count for article %}</div>
    {% endif %}
    {% if article.likes.count %}
    <div class="love"><i class="ion-heart"></i>{{ article.likes.count }}</div>
    {% endif %}
    {% if comment_count %}
    <div class="comments"><i class="ion-chatboxes"></i>{{ comment_count }}</div>
    {% endif %}
  </footer>
</figure>
{% endblock %}
